@import 'tailwindcss';

:root {
  --background: rgb(255, 255, 255);
  --foreground: rgb(61, 71, 67);
  --alt-foreground: rgb(46, 51, 49);
  --green: rgb(145, 167, 144);
  --dark-green: rgb(64, 96, 84);
  --off-green: rgb(238, 246, 243);
  --background-green: rgb(251, 252, 251);
  --alt-background: rgb(252, 250, 248);
  --darker-alt-background: rgb(251, 249, 245);
  --darkest-alt-background: rgb(248, 243, 235);
  --subtle-foreground: rgb(114, 123, 120);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-alt-foreground: var(--alt-foreground);
  --color-green: var(--green);
  --color-dark-green: var(--dark-green);
  --color-off-green: var(--off-green);
  --color-background-200: var(--alt-background);
  --color-background-300: var(--darker-alt-background);
  --color-background-400: var(--darkest-alt-background);
  --color-subtle-foreground: var(--subtle-foreground);
  --color-background-green: var(--background-green);
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --font-display: var(--font-display);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
